{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h4>您好, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    <a  href="{{ url_for('main.create_post') }}">
        <div class="btn btn-primary">写博客</div>
    </a></h4>
    {% endif %}
</div>

<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li class="active"><a href="{{ url_for('.show_all')}}">浏览博客</a></li>
        {% if current_user.is_authenticated %}
        <li class="active"><a href="{{ url_for('.show_followed') }}">关注者博客</a></li>
        {% endif %}
    </ul>
    {% include "_posts.html"%}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}


{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
